# --- Dependencies ---
node_modules/
.venv/
venv/
build/
test-keys/
.env*
.pytest_cache
__pycache__
.pytest_cache/
__pycache__/
junk/
dist/
package-lock.json
infra/hydra-dev-keys/*
shared/*.js
mydocs/
*.vk
*.sk
*.vkey
*.skey
infra/hydra-preprod/*-tx-*.json